<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.book.dao.BookDao">

    <select id="query" resultType="com.school.book.entity.Book">
        select name, title, input_time as inputTime from book
        <where>
            <if test="id!=null ">
                and id = #{id}
            </if>
            <if test="name!=null  and name!=''">
                and name = #{name}
            </if>
            <if test="title!=null  and title!=''">
                and title = #{title}
            </if>
            <if test="inputId!=null ">
                and input_id = #{inputId}
            </if>
            <if test="inputTime!=null  and inputTime!=''">
                and input_time = #{inputTime}
            </if>
            <if test="status!=null ">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="queryById" resultType="com.school.book.entity.Book">
        select * from book
        where id = #{id}
    </select>


    <insert id="insert" keyProperty="id" useGeneratedKeys="true" keyColumn="id" parameterType="com.school.book.entity.Book">
        INSERT INTO book
        <trim prefix="(" suffixOverrides="," suffix=")">
            name,
            title,
            input_id,
            input_time,
            status,
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            #{name},
            #{title},
            #{inputId},
            #{inputTime},
            #{status},
        </trim>
    </insert>

    <update id="updateById" parameterType="com.school.book.entity.Book">
        update  book
        <set>
            <if test="name!=null   and name!='' ">
                name = #{name},
            </if>
            <if test="title!=null   and title!='' ">
                title = #{title},
            </if>
            <if test="inputId!=null   ">
                input_id = #{inputId},
            </if>
            <if test="inputTime!=null   and inputTime!='' ">
                input_time = #{inputTime},
            </if>
            <if test="status!=null   ">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>


    <delete id="deleteById" >
        DELETE FROM book
        where id = #{id}
   </delete>

    <delete id="delete"  parameterType="com.school.book.entity.Book">
    DELETE FROM book
    where id = #{id}
    </delete>


</mapper>

